@import '../../theme/test/fonts.scss';
@import '../../theme/test/colors.scss';

.Input {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    
    position: relative;
    display: inline-flex;
    background: $color-bg-border;
    -webkit-tap-highlight-color: transparent;
    
    &:before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        content: "";
        background: #fff;
    }

    @each $size in (s, m, l, xl) {
        &_size_#{$size} {
            font-size: map-get($size-typo, $size);
            line-height: map-get($line-height-typo, $size);
        }

        &_size_#{$size} .Input-Control {
            height: (map-get($line-height-typo, $size) + 12px);
            padding: 0 (map-get($line-height-typo, $size) / 2);
        }
    }

    &_width_available {
        width: 100%;
    }
}

.Input-Control {
    font: inherit;
    line-height: inherit;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    border: 0;
    outline: none;
    background: none;
    -webkit-appearance: none;
}

.Input_focused {
    z-index: 1;

    &:before {
        box-shadow: 0 0 0 1px $color-bg-action, inset 0 0 0 1px $color-bg-action;
    }

    & .Input-Control {
        text-overflow: clip
    }
}