@charset "UTF-8";
/* Размеры текста */
/* Размеры текста */
/* Межстрочный интервал */
/* Межстрочный интервал */
/* Отступы */
/* Отступы */
/* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...*/
/* hsl(0, 0%, 100%) Базовый цвет поверхностей */
/* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */
/* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
/* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */
/* Цвет успеха */
/* Цвет ошибки */
/* Цвет предупреждения */
/* Цвет нейтральный */
/* Цвет системнный */
/* Цвета фона */
/* Цвет фона брендированый */
/* Цвет фона действия */
/* Цвет фона выделения */
/* Цвет фона при наведении */
/* Цвет границ */
/* Цвет зебры */
/* Цвет затенения */
/* Цвет дефолта */
/* Цвет паранджи */
/* Цвет молока */
/* Цвет фона успеха */
/* Цвет фона ошибки */
/* Цвет фона предупреждения */
/* Цвет фона нейтральный */
/* Цвет фона системнный */
/* Цвет фона ссылки */
/* Цвета текста */
/* Цвет основного текста */
/* Цвет промо текста */
/* Цвет второстепенного текста */
/* Цвет дополнительного текста */
/* Цвет неактивного текста */
/* Цвет текста успеха */
/* Цвет текста предупреждения */
/* Цвет текста ошибки */
/* Цвета ссылок */
/* Цвет основной ссылки */
/* Цвет дополнительной ссылки */
/* Цвет второстепенной ссылки */
/* Цвет ховера ссылки */
.Input {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  position: relative;
  display: inline-flex;
  background: rgba(0, 0, 0, 0.05);
  -webkit-tap-highlight-color: transparent; }
  .Input:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: "";
    background: #fff; }
  .Input_size_s {
    font-size: 13px;
    line-height: 18px; }
  .Input_size_s .Input-Control {
    height: 30px;
    padding: 0 9px; }
  .Input_size_m {
    font-size: 15px;
    line-height: 22px; }
  .Input_size_m .Input-Control {
    height: 34px;
    padding: 0 11px; }
  .Input_size_l {
    font-size: 18px;
    line-height: 25px; }
  .Input_size_l .Input-Control {
    height: 37px;
    padding: 0 12.5px; }
  .Input_size_xl {
    font-size: 20px;
    line-height: 28px; }
  .Input_size_xl .Input-Control {
    height: 40px;
    padding: 0 14px; }
  .Input_width_available {
    width: 100%; }

.Input-Control {
  font: inherit;
  line-height: inherit;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  border: 0;
  outline: none;
  background: none;
  -webkit-appearance: none; }

.Input_focused {
  z-index: 1; }
  .Input_focused:before {
    box-shadow: 0 0 0 1px #7c7ab8, inset 0 0 0 1px #7c7ab8; }
  .Input_focused .Input-Control {
    text-overflow: clip; }
