@import '../../theme/test/fonts.scss';
@import '../../theme/test/colors.scss';

.Button {
    font-family: inherit;
    position: relative;
    display: inline-flex;
    margin: 0;
    padding: 0;
    user-select: none;
    color: $color-base-base;
    border: 0;
    border-radius: 3px;
    outline: 0;
    background: $color-bg-selection;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all .25s ease-out;

    &:before {
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
        content: '';
        border-radius: 2px;
        background: #fff;
    }

    &:hover {
        cursor: pointer;
        background: $color-bg-hover;
    }
    
    &.Button_focused {
        z-index: 1;
        background: $color-bg-action;
    }

    &.Button_primary {
        color: $color-bg-default;
        background: $color-bg-brand;

        &:hover {
            background: $color-bg-action;
        }

        &:before {
            display: none;
        }

        &.Button_focused {
            animation: button-primary-focus 0.5s infinite linear alternate;
        }
    }

    &.Button_secondary {
        color: $color-bg-default;
        background-color: $color-link;

        &:hover {
            background-color: $color-link-hover;
        }

        &:before {
            display: none;
        }

        &.Button_focused {
            animation: button-secondary-focus 0.5s infinite linear alternate;
        }
    }

    &:disabled {
        cursor: default;
        background: $color-bg-ghost;
    }

    &:disabled .Button-Text {
        color: $color-typo-ghost;
    }

    @each $size in (s, m, l, xl) {
        &_size_#{$size} {
            font-size: map-get($size-typo, $size);
            line-height: map-get($line-height-typo, $size);
        }
        &_size_#{$size} .Button-Text {
            margin: (round(map-get($line-height-typo, $size) * .25)) (round(map-get($line-height-typo, $size) * .6));
        }
    }
}

.Button_focused.Button:before {
    box-shadow: 0 0 0 1px $color-bg-action, inset 0 0 0 1px $color-bg-action;
}

.Button-Text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

// .Button:focus,
// .Button:active {
//     box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
//     0px 8px 10px 1px rgba(0, 0, 0, 0.14),
//     0px 3px 14px 2px rgba(0, 0, 0, 0.12)
// }



@keyframes button-primary-focus {
    from {
        background-color: $color-bg-action;
    }
    to {
        background-color: $color-bg-brand;
    }
}

@keyframes button-secondary-focus {
    from {
        background-color: $color-link;
    }
    to {
        background-color: $color-link-hover;
    }
}