.Button {
    position: relative;
    font-size: 13px;
    line-height: 28px;
    color: #000;

    border: 0;
    border-radius: 3px;
    outline: 0;
    background: rgba(0,0,0,.2);
    text-align: center;
    white-space: nowrap;

    padding: 0;
    margin: 0;
}

.Button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .3);
}

.Button:before {
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    content: '';
    border-radius: 2px;
    background: #fff;
}

.Button-Text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    margin: 0 13px;
}