.Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "sidebar main main main" "footer footer footer footer";
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    max-width: 1200px;
    margin: 0 auto;
}

.Grid-Sidebar {
    grid-area: sidebar;
}

.Grid-GameMenu {
    grid-row: 2/2;
    grid-column: 2/4;
}

.Grid-GamesActive {
    grid-row: 2/2;
    grid-column: 4/5;
}