/* Размеры текста */
$size-typo: (
    xs: 11px,
    s: 13px,
    m: 15px,
    l: 18px,
    xl: 20px,
    xxl: 24px,
    xxxl: 32px,
    xxxxl: 48px,
    xxxxxl: 72px,
    xxxxxxl: 96px,
);

/* Размеры текста */
$size-typo-xs: 11px;
$size-typo-s: 13px;
$size-typo-m: 15px;
$size-typo-l: 18px;
$size-typo-xl: 20px;
$size-typo-xxl: 24px;
$size-typo-xxxl: 32px;
$size-typo-xxxxl: 48px;
$size-typo-xxxxxl: 72px;
$size-typo-xxxxxxl: 96px;

/* Межстрочный интервал */
$line-height-typo: (
    xs: 15px,
    s: 18px,
    m: 21px,
    l: 25px,
    xl: 28px,
    xxl: 34px,
    xxxl: 42px,
    xxxxl: 62px,
    xxxxxl: 82px,
    xxxxxxl: 115px,
);

/* Межстрочный интервал */
$line-height-typo-xs: 15px;
$line-height-typo-s: 18px;
$line-height-typo-m: 21px;
$line-height-typo-l: 25px;
$line-height-typo-xl: 28px;
$line-height-typo-xxl: 34px;
$line-height-typo-xxxl: 42px;
$line-height-typo-xxxxl: 62px;
$line-height-typo-xxxxxl: 82px;
$line-height-typo-xxxxxxl: 115px;

/* Отступы */
$space-xxxs: 2px;
$space-xxs: 4px;
$space-xs: 8px;
$space-s: 12px;
$space-m: 16px;
$space-l: 20px;
$space-xl: 24px;
$space-xxl: 32px;
$space-xxxl: 40px;
$space-xxxxl: 48px;
$space-xxxxxl: 72px;
$space-xxxxxxl: 96px;
